.title-container{
    background-color:rgba(0, 0, 0, 0.032); 
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 1rem;
}

.text-title-container{
    margin-left:10px;
}
.w-33{
    width: 33.3333% !important;
}
.scroll-box {
    
    height:250px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
  